body {
  background: linear-gradient(#000000, #3e4042);
  color:white;
}

h1 {
  color: white;
}

.app {
  width: 3%;
  height: 3%;
}

.logo {
  width: 30%;
  float: right;
}

#map {
  margin-bottom: 100px;
  height: 180px;
  float:right;
}

.database {
  color: white;
}

p {
  margin-left: 50px;
}

.route {

}

.blurb {
  font-family: Helvetica;
  width:21%;
  font-size: 12px;
  background-color: rgba(255, 255, 255, .05);
  padding: 25px;
  padding-top: 5px;
  margin-top: 30px;
}
