body {
  background: linear-gradient(#000000, #3e4042);
  color:white;
}

h1 {
  color: white;
}

img {
  width: 50%;
  height: 50%;
  float:right;
  margin-right: 153px;
}

#map {
  margin-top:100px;
  margin-left: 150px;
  height: 180px;
}

.database {
  color: white;
}

p {
  margin-left: 100px;
}
