.top {
  width: 100%;
  height: 50%;
  background-color:#4d115c;
  margin-bottom:0px;
  padding-top: 40px;
}
body {
  background-image: linear-gradient(90deg, rgba(194, 255, 242, .75), rgba(186, 104, 237, .25));
  margin:0%;
}
.left {
  float: left;
  margin-right:10px;
}

.right {
  float:none;
  margin-top:0px;
  height:200px;
  background-color:#4d115c;
  color:#ffffff;
  text-align:center;
  margin-bottom:10px;
  padding-top:30px;
  margin-left: 10%;
}

.profile {
  width: 200px;
  height: 200px;
  margin-top:10px;
  margin-left: 10%;
}

h1 {
  font-family: Candara;
  font-size: 50px;
}

hr {
  float:right;
  height: 15px;
  width:95%;
  color: #4d115c;
  background-color: #ffffff;
  border-width: 5px;
  margin-bottom: 10px;
}

h2, h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: fantasy;
}

.resume {
  float:right;
  width: 70%;
  height: 100%;
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
  border-color: #4d115c;
  padding: 20px;
  background-color: #4a4a4a;
  color: #ffffff;
}

.links {
   float:right;
   text-align:center;
   position:relative;
   color: #ffffff;
   margin-right:10px;
   width:20%;
}

embed {
  margin-top: 5px;
}
