body {
  background: linear-gradient(#000000, #3e4042);
  color:white;
}

h1 {
  color: white;
  padding:5px;
}

.app {
  width: 3%;
  height: 3%;
}

.logo {
  width: 30%;
  float: right;
}

#map {
  height: 180px;
  float:right;
  margin-bottom:10px;
}

.database {
  color: white;
}

p {
  margin-left: 50px;
}

.route {

}

.data {
  font-family: Helvetica;
  width:23%;
  font-size: 12px;
  background:rgba(38, 38, 38, .5);
  margin-left:15px;
  margin-top:31px;
  padding-left:5px;
  border: 1px solid yellow;
  height: 600px;
}

.blurb {
  font-family: Helvetica;
  font-size: 18px;
  padding-left:20px;
  padding-right:20px;
}

a:visited {
  color: green;
}

.table {
  width: 23%;
  margin-left:15px;
  margin-top:31px;
  border: 1px solid yellow;
  background:rgba(38, 38, 38, .5);
  padding:10px;
  text-align:center;
}

th {
  border-bottom: 1px solid white;
}

#name, #distance, #hike, #run, #rating, #direction, #winter, #start, #diff, #water, #views {
  color:green;
}

span {
  display: block;
  float:right;
}

.top {
  margin-left:50px;
  font-size: 14px;
}
